
.game-display{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    position: relative;
  }
  
  .icon{
    background: #fff;
    padding: 1rem;
    object-fit: contain;
    border-radius: 50%;
  }
  
  .icon-paper{
    background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .icon-scissor{
    background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  
  .icon-rock{
    background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
  }