.icon {
  position: relative;
  background: #fff;
  padding: 1rem;
  object-fit: contain;
  border-radius: 50%;
}

.icon-paper {
  background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-scissor {
  background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-rock {
  background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.winning-class {
  box-shadow: 0 0 0 4rem #3b436333,
    0 0 0 7.5rem #3b436333,
    0 0 0 10rem #3b436333;
  border-radius: 100%;
}
