.bg{
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%))
;
  min-height: 100vh;
  min-width: 100vw;
  color: #fff;
  padding: 1rem;
}

.game{
  max-width: 1366px;
  margin: 0 auto;
  height:auto;
  display: flex;
  flex-direction: column;
}

.game-header{
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin-inline: auto;
  padding: 10px 16px;
  margin-block: 2rem;
}

.primary-heading{
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.score-box{
  background: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-box p{
  color:  hsl(229, 64%, 46%);
  font-size: 0.7rem;
  font-weight: 600;
}

.score{
  color: hsl(229, 25%, 31%);
  font-weight: 600;
}

